
@{
    ViewBag.Title = "DataTable";
}
<link href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap4.min.css")" rel="stylesheet" />
<table id="orderItemTable" class="table table-bordered" style="width:100%;">
    <thead class="thead-dark text-white">
        <tr>
            <th>Order Id</th>
            <th>Product Id</th>
            <th>Unit Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap4.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Order Item
        $("#orderItemTable").DataTable({
            "ajax": {
                "url": "/Home/GetOrderItem",
                "type": "GET",
                "datatype":"json"
            },
            "columns": [
                { "data": "OrderId" },
                { "data": "ProductId" },
                { "data": "UnitPrice" },
                { "data": "Quantity" }
            ]
        });

    });
</script>
